@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&display=swap');

:root {
  background-color: #0f0e17;
  color: #fffffe;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

*,
body {
  margin: 0;
}

#app {
  display: flex;
  grid-column-gap: 2em;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}
